@media (max-width: 768px) {
  #page7 {
  margin-top: 20rem; /* or use padding-top */
}

.certificates-outline-text{
text-align: center;
font-size: 2rem;
color: transparent;
-webkit-text-stroke: 1px #00bfff;
margin-bottom: 3rem;
text-transform: uppercase;
letter-spacing: 1px;
margin-top: -40px;
}


}